* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: #202026;
  font-family: 'Montserrat', sans-serif;
}

.topnav {
  text-align: center;
  background-color: #13131b;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 4524px;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 250px;
  text-decoration: none;
  font-size: 70px;
  text-shadow: 3px 3px #e36f2a;
}

.topnav a:hover {
  color: #e36f2a;
  text-shadow: 3px 3px white;
}

.rodeo_drive {
   object-fit: cover;
   width: 4524px;
   height: 1100px;
   object-position: 0px -1700px;
}

.centered {
  text-align: center;
  font-weight: bold;
  position: absolute;
  overflow: hidden;
  color: #e36f2a;
  top: 700px;
  padding-top: -1000px;
  font-size: 90px;
  width: 4524px;
  text-shadow: 4px 4px white;
}

.section2 {
  margin-top: 300px;
  width: 4524px;
  height: 1200px;
  padding-left: 663px;
  padding-right: 663px;
  color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  align-items: center;
  background-color: #000000;
  width: 1000px;
  float: left;
  margin-left: 35px;
  margin-right: 25px;
  height: 1140px;
}

.image {
  margin-top: 50px;
  width: 900px;
  height: 600px;
}

.heading {
  color: #ffffff;
  font-size: 50px;
  float: left;
  margin-left: 50px;
  margin-top: 30px;
  padding-bottom: 20px;
}

.paragraph {
    color: #ffffff;
    font-size: 40px;
    float: left;
    text-align: left;
    margin-left: 50px;
    padding-bottom: 20px;
}

.section3, .footer {
  margin-top: 300px;
  width: 4524px;
  background-color: #000000;
}

.grid-view-1 {
  display: grid;
  grid-template-columns: 1462px 1462px;
  padding-left: 800px;
  padding-right: 800px;
  padding-top: 400px;
  padding-bottom: 400px;
  margin-bottom: 300px;
}

.grid-view-item-1 {
  color: white;
  font-size: 45px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: justify;
  height: 673px;
}

.lasky {
  text-align: right;
}

.section4, .section5 {
  padding-left: 800px;
  padding-right: 800px;
  width: 4524px;
}

.grid-view-2{
  display: grid;
  grid-template-columns: 877px 2046px;
  padding-top: 146px;
}

.grid-view-item-21 {
  height: 500px;
}

.grid-view-item-22 {
  color: white;
  text-align: justify;
  font-size: 43px;
  padding-left: 25px;
}

.hollywood {
  font-style: bold;
  font-size: 80px;
  color: white;
  padding-left: 25px;
  padding-bottom: 30px;
}

.grid-view-3{
  display: grid;
  grid-template-columns: 2046px 877px;
  padding-top: 88px;
  padding-bottom: 88px;
}

.beach {
  font-style: bold;
  font-size: 80px;
  color: white;
  text-align: right;
  padding-bottom: 30px;
}

.grid-view-item-31 {
  color: white;
  text-align: justify;
  font-size: 40px;
}

.grid-view-item-32 {
  height: 500px;
}

.beachImage {
  text-align: right;
}

.footer-view {
  display: grid;
  grid-template-columns: 1170px 1754px;
  padding-left: 800px;
  padding-right: 800px;
  padding-top: 180px;
  padding-bottom: 180px;
  text-align: center;
  font-size: 40px;
}

.footer-left {
  color: white;
}

.footer-right {
  color: white;
  text-align: center;
  font-size: 50px;
}

.emailPhone {
  text-decoration: none;
  color: white;
}

.emailPhone:hover {
  text-decoration: underline;
}

.not-found {
  width: 4524px;
  height: 1200px;
  object-fit: cover;
  object-position: 0px -650px;
}

.page-not-found {
  margin-top: 200px;
  width: 4524px;
  text-align: center;
  color: white;
  margin-bottom: 200px;
  font-size: 50px;
}

.not-found-text {
  text-align: center;
  font-weight: bold;
  position: absolute;
  overflow: hidden;
  color: black;
  top: 830px;
  padding-top: -200px;
  font-size: 100px;
  width: 4524px;
}

.overlay {
  position: absolute;
  width: 4524px;
  height: 1200px;
  top: 244px;
  background-color: rgba(226, 156, 113, 0.6);
}

.not-found-topnav {
  text-align: center;
  background-color: #13131b;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 4524px;
}

.not-found-topnav a {
  color: #e36f2a;
  text-align: center;
  padding: 14px 250px;
  text-decoration: none;
  font-size: 70px;
  text-shadow: 3px 3px #f2f2f2;
}

.not-found-topnav a:hover {
  color: #f2f2f2;
  text-shadow: 3px 3px #e36f2a;
}
