.assignments, tr, td{
	border: 2px solid #a21933;
	padding-left: 50px;
	padding-right: 50px;
	color: #000000;
 	text-align: center;
 	margin-left: auto;
 	margin-right: auto;
 	border-collapse: collapse;
	background-color: #ffc651;
}
.heading {
	height: 100%;
	width: 100%;
	background-color: #ffc651;
	padding-top: 2px; 
	padding-bottom: 2px; 
	color: #a21933;
	text-align: center;
}
.details {
	background-color: #a21933; 
	margin-top: -20px;
	text-align-last: right;
	padding-left: 500px;
	padding-right: 50px;
	color: #ffc651;
}
.fightOn {
	text-align: center;
	color: #ffc651;
	background-color: #a21933; 
	margin-top: -20px;
}